* {
  padding: 0;
  margin: 0;
  text-align: -webkit-center;
}
header {
  background-color: darkgrey;
  padding: 10px 0;
  border-bottom: solid black 2px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
header span {
  margin: 0 auto;
}
.hidden {
  display: none;
}
.aboutInfo {
  width: 700px;
  padding: 20px 0;
}
.askQuestion {
  padding: 20px 0;
}
button {
  cursor: pointer;
  display: block;
  padding: 10px;
  margin: 10px;
  width: 500px;
  border-radius: 10px;
  transition: 300ms ease all;
  background-color: cadetblue;
}
button:hover {
  background-color: aqua;
}
.viewHighScores {
  text-decoration: underline;
  cursor: pointer;
}
.Time {
  justify-content: flex-end;
}
#enterName {
  text-align: start;
}
#yourScore {
  padding: 15px 0;
  font-weight: bold;
}
#submitName {
  margin-top: 15px;
}
ol {
  max-width: 500px;
  border: solid 2px black;
  margin: 20px;
}
li {
  padding: 5px;
  font-weight: bold;
  background-color: aliceblue;
  list-style-position: inside;
}
li:nth-child(2n + 1) {
  background-color: azure;
}
@media (max-width: 768px) {
  .aboutInfo {
    width: 90%;
  }
}
@media (max-width: 576px) {
  button {
    width: 90%;
  }
}
